/* Estilos da pagina index.html */

 .center{
    text-align: center;
    
    }

 .container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        background-color: grey;
    }
    
 .container img {
    max-width: 900px;
    max-height:400px; 
        
    }
    #menu li {
        display: inline;
        padding: 18px;
    }
    #menu li a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    #menu li a:hover {
        color: crimson;
    }

    .pag2 {
        
        display: inline;
        padding: 18px;

    }
 



/* Estilos da pagina personagens.html */